<!DOCTYPE html>
<html lang="zh">
<head>
    {% set is_fav_scope = (source == 'favorites' or mode == 'favorites') %}
    {% set is_mis_scope = (source == 'mistakes' or mode == 'mistakes') %}

  {% include 'partials/quiz/_head_meta.html' %}
</head>
<body class="{{ 'memo-mode' if mode == 'memo' else ('exam-mode' if mode == 'exam' else '') }}">
  <div class="app-container">
    {% include 'partials/quiz/_sidebar.html' %}
    {% include 'partials/quiz/_main_layout.html' %}
    </div>

  {% include 'partials/quiz/_modals_forward.html' %}
  {% include 'partials/quiz/_modals_score.html' %}

  {% include 'partials/quiz/_scripts_main.html' %}
</body>
</html>
